<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pixel Digitalbyrå</title>
        
        <link rel="stylesheet" href="~/css/foundation-sites-custom.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </head>
    <body>
        <header>
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text">Pixel Digitalbyrå</li>                    
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><a href="#">Kontakta oss</a></li>                    
                    </ul>
                </div>
            </div>
        </header>
        
        @RenderBody()
        
        <footer class="block">
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <p>Pixel Digitalbyr i Halmstad AB</p>
                    <p>0702-19 53 30</p>
                    <p>info@pixeldigitalbyra.se</p>
                </div>
                <div class="small-12 medium-6 columns">
                    <h3>Kontakta oss</h3>
                    <form>
                        <div class="row">
                            <div class="medium-6 columns">
                                <label>Input Label
                                    <input type="text" placeholder=".medium-6.columns">
                                </label>
                            </div>
                            <div class="medium-6 columns">
                                <label>Input Label
                                    <input type="text" placeholder=".medium-6.columns">
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>    
        </footer>
        <script src="~/lib/jquery/jquery.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
