<div class="splash-wrapper">
    <div class="row splash">
        <div class="small-12 small-centered columns">
            <h1>Vi är övertygade om att även små företag kan lyckas online. </h1>
            <p>Vi hjälper er gärna hitta vägen med en välgenomtänkt och tydlig plan och sedan är resten hårt arbete. :)</p>
            <a href="" class="large button">Läs mer</a>
        </div>
    </div>
</div>
