<div class="page start-page">
    <div class="hero-wrapper">
        <div class="row hero">
            <div class="small-12 small-centered columns">
                <h1>Vi är övertygade om att även små företag kan lyckas online. </h1>
                <p>Vi hjälper er gärna hitta vägen med en välgenomtänkt och tydlig plan och sedan är resten hårt arbete. :)</p>
                <a id="heroScrollDownLink" class="hollow button">Läs mer</a>
            </div>
        </div>
    </div>

    <section class="white why-pixel">
        <div class="row">
            <div class="small-12 large-8 medium-centered column">
                <h2>Varför Pixel Digitalbyrå?</h2>
                <p class="lead">Vi kan hjälpa dig och ditt företag att ta nästa steg och lyckas med er närvaro på nätet. Vi är lyhörda och nyfikna på er vardag och guidar er att använda era resurser på bästa sätt. Vi finns i Halmstad men hjälper gärna kunder på hela Västkusten!</p>
                <p>Dagens kunder gör allt mer research på egen hand innan de ska göra ett köp av en vara eller tjänst och denna research görs allt tidigare i köpprocessen. Tidigare kanske kunden besökte en butik och fick olika alternativ och sedan läste på hemma. Idag har kunden ofta redan bestämt sig för ett antal olika alternativ innan han eller hon ens valt en butik. Det gäller därför att ge kunden relevant information på nätet så att man blir den butik som kunden väljer att gå till för att göra sitt köp av varan, antingen i den fysiska butiken eller direkt på hemsidan.</p>
                <p>Det finns idag så många olika digitala kanaler att välja mellan, inte bara en hemsida utan även sociala medier såsom Facebook, Instagram och Twitter, annonsering i olika former, bloggar, etcetera så att det kan vara svårt att veta var man ska satsa sin tid och sina pengar. Pixel Digitalbyrå har lång erfarenhet av internetnärvaro och vi har samlat på oss en massa kunskap om vad ett litet (eller stort) företag behöver göra för att vara den som kunden tänker på först när han eller hon ska köpa sin vara eller tjänst.</p>
                <p>Vi på Pixel Digitalbyrå har alltid ett stort hjärta och engagemang för våra kunder. Vi ser alltid till att finnas nära till hands och ge snabb och kompentent hjälp och rådgivning. Vi har lärt oss vad vi vet av de största företagen men är fortfarande det lilla, lättillgängliga företaget som är din fasta punkt på ett allt snabbrörligare internet.</p>
                <p>Välkommen att <a href="#contactUs">kontakta oss</a>, det ligger en spännande resa framför er…</p>
            </div>
        </div>
    </section>

    <section class="gray who-are-we">
        <div class="row">
            <div class="small-12 large-10 column end">
                <h2>Vilka är vi?</h2>
                <p class="lead">Pixel Digitalbyrå drivs av Mikael och Christian Strid, två bröder med rötterna i Halmstad och vi har sysslat med webbutveckling i Halmstad som bisyssla sedan 1999 och sedan 2014 så arbetar Mikael heltid i bolaget.</p>
                <p>I takt med att vi samlat på oss erfarenhet under åren, både från uppdrag som vi gjort inom ramen för Pixel Digitalbyrå men även från våra ordinarie anställningar, så känner vi att vi blivit allt mer trygga i att guida företag rätt på webben och idag anser vi oss vara en stabil och kunnig partner som kan ge konkreta och handfast råd till hur ett företag kan lyckas online.</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-6 large-push-6 column">
                <img class="float-center" src="~/images/portrait-dummy.jpg"/>
            </div>
            <div class="small-12 large-6 large-pull-6 column">
                <h3>Mikael Strid</h3>
                <p class="lead">Hej, jag heter Mikael och arbetar idag heltid som frilansande IT-konsult i Pixel Digitalbyrå med Göteborg som hemmabas. Mina vanligaste uppdrag är som technical lead/lead developer/senior systemutvecklare i .NET-baserade webbprojekt.</p>
                <p>De senaste åren har jag arbetat som IT-konsult med inriktning på webb och har utvecklat små och stora webbplatser på olika plattformar såsom Episerver, Wordpress och direkt på ASP.NET MVC. Jag har haft ansvaret för utvecklingsprocess och kvalitetssäkring i rollen som tech lead. Jag har även varit delaktig att hjälpa små och medelstora företag att ta fram strategier för att lyckas online.</p>
                <p>Jag har en lång bakgrund som systemutvecklare sedan examen som civilingenjör inom datateknik från Chalmers 2002. Jag har arbetat med systemutveckling inom vitt skilda branscher som telekom, medicinteknik, automatisering och webb och alltid med .NET som primär teknisk plattform.</p>
                <p><a class="with-icon" href="https://se.linkedin.com/in/mikaelstrid"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg> <span>Läs mer på LinkedIn</span></a></p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-6 column">
                <img class="float-center" src="~/images/portrait-dummy.jpg"/>
            </div>
            <div class="small-12 large-6 column">
                <h3>Christian Strid</h3>
                <p class="lead">Hej, jag heter Christian och jag arbetar idag heltid på en reklambyrå i Halmstad och är engagerad i Pixel Digitalbyrå på "kvällar och helger".</p>
                <p>Mitt arbete på reklambyrå har gett mig stor erfarenhet av att hantera dialog med kunder och omsätta kundens idéer och grafiska riktlinjer till effektiv reklam. Jag har jobbat med allt från små, lokala kunder med mycket idéer men kanske inte små mycket riktlinjer till stora nationella kedjor där formatet redan är satt och det är viktigt att inget faller utanför ramarna.</p>
                <p>Det jag tycker är allra roligast är dock att ta fram kundanpassad webbdesign och hjälpa till med att bygga hemsidor i Wordpress, vilket jag får chansen att göra i Pixel Digitalbyrå.</p>
                <p><a class="with-icon" href="https://se.linkedin.com/in/christianstrid"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg> <span>Läs mer på LinkedIn</span></a></p>
            </div>
        </div>
    </section>

    <section class="how-we-do-it">
        <div class="row">
            <div class="small-12 large-8 medium-centered column">
                <h2>Hur gör vi?</h2>
                <p>Om vi ska vara riktigt ärliga så bygger vårt arbetssätt mest på så enkla saker som att lyssna, att använda sunt förnuft och sedan dra nytta av de erfarenheter vi samlat på oss genom åren.</p>
                <p>Ska man vara lite mer formell så arbetat vi efter en enkel process:</p>
                <ol>
                    <li>Vi träffas och tar reda på lite mer vart ni som kund vill nå på nätet och vart ni är idag.</li>
                    <li>Vi försöker sedan strukturera det lite i informella målgrupper eller personas och sätta upp lite mål för vad som är viktigt för respektive målgrupp.</li>
                    <li>Vi börjar sedan skissa på vilken information och funktion, som baserat på ovanstående, är viktig att lyfta fram på nätet och vilka kanaler som är lämpliga och visualiserar detta i form av enkla skisser, ofta kallade wireframes.</li>
                    <li>Vi hjälper er sedan att välja en lämplig teknisk lösning och realisera det vi kommit överens om.</li>
                    <li>Vi följer sedan gärna med på resan, för den har ju bara börjat, och hjälper till att mäta och följa upp internetsatsningen och göra den ännu mera effektiv.</li>
                </ol>
            </div>
        </div>
    </section>

    <section id="contactUs" class="gray contact-us">
        <div class="row">
            <div class="small-12 column">
                <h2>Låter det bra?</h2>
                <p class="lead">Kontakta oss då gärna!</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 column">
                <p>
                    <strong>Pixel Digitalbyrå i Halmstad AB</strong><br/>
                    Telefon: 0702-19 53 30<br/>
                    E-post: <a href="mailto:info@pixeldigitalbyra.se">info@pixeldigitalbyra.se</a>
                </p>
            </div>
            <div class="small-12 medium-6 column">
                <p><strong>Eller fyll i formuläret:</strong></p>
                <form>
                    <label>
                        Ditt namn
                        <input type="text">
                    </label>
                    <label>
                        Ditt telefonnummer / e-postadress
                        <input type="text">
                    </label>
                    <label>
                        Vad kan vi hjälpa dig med?
                        <textarea rows="3"></textarea>
                    </label>
                    <input type="submit" class="button warning"/>
                </form>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script src="~/js/start-page.js"></script>
    <script>
        window.pixel.startPage.init();
    </script>
}