<div class="block hero">
    <div class="overlay"></div>
    <div class="content">
        <div class="row">
            <div class="small-12 medium-8 medium-centered columns">
                <p class="we-are">Vi är</p>
                <h2 class="pixel">Pixel Digitalbyrå</h2>
                <p class="functional">
                    Med en blandning av fokus på <strong>funktion</strong>, <strong>responsiv design</strong> och <strong>tillgänglighet</strong> strävar vi alltid efter att bygga hemsidor där information är lätt att hitta, som fungerar bra på alla typer av enheter och som är sökmotorvänliga.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="block about">
    <div class="row">
        <div class="small-12 medium-6 medium-centered columns">
            <h1>Funktionella hemsidor</h1>
            <p>Pixel Digitalbyrå har sedan drygt 10 år tillbaka arbetat med en handfull kunder i Halmstad och hjälpt dem med webbplatser/hemsidor och IT-system för deras verksamheter. Vi levererar både helt skräddarsydda system och webbplatser som använder ett CMS (till exempel Wordpress eller EPiServer) som grund.</p>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/hero.js"></script>
    <script>
        window.pixel.hero.init();    
    </script>
}