@import "../../bower_components/foundation-sites/scss/util/breakpoint";
@import "../partials/foundation-sites-settings";

header {
    position: fixed;
    z-index: 10;
    width: 100%;
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    line-height: rem-calc(20);
    color: #fff;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;

    @include breakpoint(medium up) {
        line-height: rem-calc(40);
        padding-top: rem-calc(15);
        padding-bottom: rem-calc(15);
    }

    a {
        color: #fff;

        span {
            display: none;
        }

        .icon {
            position: relative !important;
        }

        @include breakpoint(medium up) {
            span {
                display: inline-block;
            }

            .icon {
                position: absolute !important;
            }
        }

        &:hover, &:focus {
            color: $warning-color;
        }
    }

    .brand {
        text-transform: uppercase;
    }
}

.has-scrolled {
    header {
        background-color: $black;
        opacity: 0.7;
    }
}
