a.with-icon {
  position: relative;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  -webkit-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out; }
  a.with-icon span {
    padding-left: 2.25rem;
    line-height: 1.5rem; }
  a.with-icon .icon {
    position: absolute;
    top: -0.125rem;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    fill: currentColor; }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .row {
    max-width: 43.75rem; } }

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  line-height: 1.25rem;
  color: #fff;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  @media screen and (min-width: 40em) {
    header {
      line-height: 2.5rem;
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem; } }
  header a {
    color: #fff; }
    header a span {
      display: none; }
    header a .icon {
      position: relative !important; }
    @media screen and (min-width: 40em) {
      header a span {
        display: inline-block; }
      header a .icon {
        position: absolute !important; } }
    header a:hover, header a:focus {
      color: #ffae00; }
  header .brand {
    text-transform: uppercase; }

.has-scrolled header {
  background-color: #0a0a0a;
  opacity: 0.7; }

footer {
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  width: 100%;
  color: #fefefe;
  background-color: #333; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center; }
  @media screen and (min-width: 40em) {
    footer ul {
      padding: 0;
      list-style-type: none;
      margin: 0; }
      footer ul::before, footer ul::after {
        content: ' ';
        display: table; }
      footer ul::after {
        clear: both; }
      footer ul li {
        float: left;
        margin-left: 1.25rem; }
        footer ul li:first-child {
          margin-left: 0; } }

.first-page footer {
  background-color: transparent;
  position: fixed;
  bottom: 0; }

.page.start-page .hero-wrapper {
  height: 100vh;
  background-image: url("/images/forest-1031022-1920x1200.jpg");
  background-size: cover;
  background-position: center center;
  padding-top: 20vh; }
  @media screen and (min-width: 40em) {
    .page.start-page .hero-wrapper {
      padding-top: 25vh; } }
  .page.start-page .hero-wrapper .hero {
    max-width: 43.75rem;
    text-align: center;
    color: #fff; }
    .page.start-page .hero-wrapper .hero h1 {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      margin-bottom: 0.75rem; }
    .page.start-page .hero-wrapper .hero p {
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
      margin-bottom: 1.6875rem; }
    .page.start-page .hero-wrapper .hero a {
      display: inline-block;
      text-align: center;
      line-height: 1;
      cursor: pointer;
      -webkit-appearance: none;
      transition: background-color 0.25s ease-out, color 0.25s ease-out;
      vertical-align: middle;
      border: 1px solid transparent;
      border-radius: 0;
      padding: 0.85em 1em;
      margin: 0 0 1rem 0;
      font-size: 0.9rem;
      border: 1px solid #fefefe;
      color: #fefefe;
      transition: border-color 0.25s ease-out, color 0.25s ease-out; }
      [data-whatinput='mouse'] .page.start-page .hero-wrapper .hero a {
        outline: 0; }
      .page.start-page .hero-wrapper .hero a, .page.start-page .hero-wrapper .hero a:hover, .page.start-page .hero-wrapper .hero a:focus {
        background-color: transparent; }
      .page.start-page .hero-wrapper .hero a:hover, .page.start-page .hero-wrapper .hero a:focus {
        border-color: #7f7f7f;
        color: #7f7f7f; }
      .page.start-page .hero-wrapper .hero a:hover, .page.start-page .hero-wrapper .hero a:focus {
        color: #ffae00;
        border-color: #ffae00; }

.page.start-page section {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem; }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .page.start-page section {
      padding-top: 4.6875rem;
      padding-bottom: 4.6875rem; } }
  @media screen and (min-width: 64em) {
    .page.start-page section {
      padding-top: 6.25rem;
      padding-bottom: 6.25rem; } }
  .page.start-page section.gray {
    background-color: #f8f8f8; }

.page.start-page .who-are-we .row:not(:first-child) {
  margin-top: 3.125rem; }
  @media screen and (min-width: 40em) {
    .page.start-page .who-are-we .row:not(:first-child) {
      margin-top: 6.25rem; } }

.page.start-page .who-are-we img {
  border-radius: 50%;
  max-width: 12.5rem;
  margin-bottom: 1.875rem; }
  @media screen and (min-width: 40em) {
    .page.start-page .who-are-we img {
      max-width: 18.75rem;
      margin-bottom: 3.125rem; } }
  @media screen and (min-width: 64em) {
    .page.start-page .who-are-we img {
      margin-bottom: 0; } }

.page.start-page .who-are-we a {
  color: #0a0a0a; }
  .page.start-page .who-are-we a:hover span, .page.start-page .who-are-we a:focus span {
    color: #ffae00; }

.page.start-page .how-we-do-it ol li {
  padding-left: 0.625rem; }
  .page.start-page .how-we-do-it ol li:not(:last-child) {
    margin-bottom: 1.25rem; }
