header {
  position: fixed;
  width: 100%;
  z-index: 10; }
  header .top-bar {
    transition: background-color .5s ease-in-out; }

body.has-scrolled .top-bar {
  background-color: #fefefe; }

.hero {
  position: relative;
  min-height: 90vh;
  background-size: cover;
  background-image: url("/images/baltic-sea-360283.jpg");
  background-position: center center;
  color: #fefefe; }
  .hero .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .hero .we-are {
    padding-top: 20vh;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center; }
  .hero .pixel {
    font-size: 6.25rem;
    line-height: 1.1;
    text-align: center; }
  .hero .functional {
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    margin-top: 3.125rem; }
  .hero .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity 1s ease-in-out; }

body.has-scrolled .hero .functional {
  opacity: 1; }

body.has-scrolled .hero .overlay {
  opacity: 0.7; }

.block.about {
  margin-top: 5rem;
  margin-bottom: 5rem; }
