<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false"/>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="StaticRedirects">
          <add key="/funktionella-hemsidor" value="/" />
          <add key="/tjanster" value="/" />
          <add key="/om-oss-kontakta-oss" value="/" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Send portfolio to start page">
          <match url="^portfolio.*" />
          <action type="Redirect" url="http://www.pixeldigitalbyra.se" redirectType="Permanent"/>
        </rule>
        <rule name="Redirect Rule" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{StaticRedirects:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="http://www.pixeldigitalbyra.se{C:1}" appendQueryString="False" redirectType="Permanent" />
        </rule>
        <rule name="Enforce WWW" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{CACHE_URL}" pattern="^http://pixeldigitalbyra.se" />
          </conditions>
          <action type="Redirect" url="http://www.pixeldigitalbyra.se" redirectType="Permanent" />
        </rule>
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" matchType="Pattern" pattern="POST" ignoreCase="true" negate="true" />
            <add input="{REQUEST_FILENAME}" pattern="\." negate="true" />
          </conditions>
          <action type="Redirect" url="{ToLower:{URL}}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
